@model Person
@{
    ViewData["TitlePhrase"]="Add Employee";
    string[] genders={"Male","Female","Others"};
}
<h3>Add New Employee</h3>
<hr>
<form   asp-controller="Employee" asp-action="Edit" method="POST">
  <input type="hidden" asp-for="Id"/>
  <div class="form-group">
    <label asp-for="FirstName"></label>
    <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label asp-for="LastName"></label>
    <input type="text" class="form-control" asp-for="LastName"  placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label asp-for="Address"></label>
    <textarea class="form-control" asp-for="Address"  placeholder="Enter Address"></textarea>
  </div>
   <div class="form-group">
    <label asp-for="Gender">Gender</label>
    @foreach (var gender in genders)
    {
      
      <div class="form-check">
        <input  class="form-check-input" name="Gender" type="radio" asp-for="Gender" value="@gender[0]" id="@gender">
        <label class="form-check-label" asp-for="@gender" for="@gender">@gender</label>
      </div>
        
    }
    
  </div> 
 
  <div class="form-group">
    <label asp-for="Salary"></label>
    <input type="number" class="form-control" asp-for="Salary" placeholder="Enter Salary">
  </div>
 
  
  <button type="submit" class="btn btn-primary">Save Employee</button>
</form>